.container{
    display:flexbox;
    max-width: 700px;   
    justify-content:center;
    margin: 5px;
    padding: 5px;

}
.logo{
    margin: 5px;
    text-align: center;
}
.fundo1{
    background-color: black;
    
}

.paragrafo2{
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}
.box{
    border-radius: 4px;
    display:flexbox;
    width: 160px;
    height: 160px;
    margin: 10px;
    overflow: hidden;
    background-color: rgba(148, 143, 143, 0.589);
    align-items: center;
}
.box:hover{
    background-color: blue;
    
}

.img_perfil{
    display: flex;
    align-self: center;
    align-items: center;
    width: auto; 
    height: auto;  
    
    
}
.gerenciar_perfis{
    align-items:center;
    border-radius: 5px;
  

}
.gerenciar_perfis:hover{
    background-color: rgba(6, 101, 226, 0.616);
    
}
  

