.container{
    display:flexbox;
    max-width: 700px;   
    justify-content:center;
    margin: 10px;
    padding: 10px;

}
.logo{
    margin: 5px;
    text-align: center;
}
.fundo1{
    background-color: black;
    padding: 0;
    margin: 0;
  
}

.paragrafo2{
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}
.box{
    border-radius: 6px;
    display:flexbox;
    width: 160px;
    height: 160px;
    margin: 10px;
    overflow: hidden;
    background-color: rgba(148, 143, 143, 0.589);

    
}

.nome_usuario1{
    color: white;
    text-align: end;
    padding-bottom: 1px;
    
}
.box:hover{
    background-color: rgba(23, 197, 154, 0.349);
    
}

.img_perfil{
    display: flex;
    align-self: center;
    align-items: center;
    width: auto; 
    height: auto;  
    
    
}
.gerenciar_perfis{
    color: white;
    font-size: 15px;
    background-color: black;
    border: 6px solid black;
    margin: 8px;
    padding: 4px;
    border-radius: 5px;
    align-items: center;

}
.gerenciar_perfis:hover{
    background-color: rgba(6, 101, 226, 0.616);
    
}
  

